
/*
    Styles specific to ContentMine
*/

.navbar h1.navbar-brand {
    margin: 0;
    color:  #187c83;
    font-size:  2em;
}
body {
    margin-top: 5em;
    background: #eff8e9;
    color:  #333;
}
.navbar {
    background: #92ce73;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.navbar .nav > li > a {
    color:  #333;
    padding-bottom: 5px;
    margin-bottom:  7px;
    cursor: default;
}
.navbar .nav > li > a:hover {
    color:  #fff;
}
.navbar .nav > li.active > a {
    border-bottom:  3px solid #fff;
}
#log {
    margin-top: 1em;
}
#log ul {
    max-height: 12em;
    overflow-y: auto;
    list-style-type:    none;
}
#log ul li::before {
    content:    "—  ";
}
table.table {
    background: #fff;
}
